body {
    background-color: rgb(240, 240, 240);
}

html {
    font-size: 100%;
}

.heading-container {
    margin: 30px 20px 30px 20px;
    /* padding: 30px 0;
    position: sticky; */
    /* top: 0px; */
    /* background-color: rgb(240, 240, 240); */
}

h1 {
    font-family: "DM Sans", sans-serif;
    font-size: clamp(25pt, 2.2vw, 45pt);
    word-spacing: 0px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.homepage {
    background-color: white;
    border: 2px black dotted;
    padding: 13px;
}

.text-container {
    margin: 0 45px;
    width: calc(100vw - 90px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.img-container {
    width: calc(100vw - 90px);
    margin: 0 45px 30px 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left, .right {
    width: calc(50vw - 50px);
}

.img-container img {
    width: 100%;
}

.title, .description {
    width: calc(50vw - 15px);
}

.title p, .description p {
    font-family: "DM sans", sans-serif;
    text-align: left;
    font-size: 13px;
    color: black;
    padding: 0 1px;
}

.description {
    font-family: "DM sans", sans-serif;
    text-align: left;
    font-size: 13px;
    color: black;
}

h2 {
    font-family: "DM sans", sans-serif;
    font-optical-sizing: normal;
    font-weight: 650;
    padding: 2px 1px;
    font-size: 20px;
    line-height: 24px;
    margin: 2px 0;
    display: inline-block;
    text-align: left;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px 0;
    margin-bottom: 30px;
    /* position: sticky;
    top: calc(60px + 2vw); */
}

input[type=button] {
    font-family: "DM sans", sans-serif;
    font-optical-sizing: normal;
    font-weight: 560;
    padding: 2px 1px;
    font-size: 17px;
    background-color: black;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 3px 5px;
    margin: 4px 2px;
    /* border-radius: 30px;
    border: 2px black solid; */
    transition: 0.5s;
}

footer {
    display: flex;
    justify-content: start;
    margin: 0 0 30px 45px;
}

.table {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* .col1 {
    width: calc((50vw - 15px) / 4);
} */


@media screen and (max-width: 1030px) {
    .heading-container {
        margin: 0 0px 60px 0px;
        padding: 30px 20px 30px 20px;
        border-bottom: 2px black solid;
        position: sticky;
        top: 0px;
        background-color: rgb(240, 240, 240);
        width: 100vw;
    }
    h1 {
        font-size: 7vw;
        text-align: left;
        margin-left: calc(6.5vw - 15px);
        font-weight: 700;
    }
    h2 {
        font-family: "DM sans", sans-serif;
        font-optical-sizing: normal;
        font-weight: 800;
        padding: 2px 1px;
        font-size: 4.2vw;
        line-height: 40px;
        margin: 2px 0;
    }
    .buttons {
        display: none;
    }
    input[type=button] {
        padding: 2px 1px;
        font-size: 27px;
        padding: 3px 5px;
        margin: 8px 2px;
    }
    footer {
        /* margin: 10px 0 40px calc(6.5vw - 15px); */
        margin: 30px calc(6.5vw + 5px);
    }
    .text-container {
        flex-direction: column;
        margin: 0 calc(6.5vw + 5px);
        width: auto;
    }
    .title {
        width: auto;
        margin-bottom: 100px;
    }
    .description {
        width: auto;
        margin-bottom: 30px;
    }
    .table {
        margin-top: 10px;
    }
    .img-container {
        flex-direction: column;
        margin: 0 calc(6.5vw + 5px);
        width: auto;
    }
    .left, .right {
        width: auto;
    }
    /* .col1 {
        width: calc((100vw - (13vw - 30px)) / 4);
    } */

/*     
   .title p, .description p, .col1 p, .col2 p {
        font-family: "DM Sans", sans-serif;
        text-align: left;
        font-size: 25px;
        color: black;
        padding: 0 1px;
    } */

    .title p, .description p, .col1 p, .col2 p, footer {
        font-family: "DM Sans", sans-serif;
        text-align: left;
        font-size: 25px;
        color: black;
        padding: 0 1px;
        -webkit-text-size-adjust: none;
        }
}
