body {
    background-color: rgb(240, 240, 240);
}

.heading-container {
    margin: 30px 20px 30px 20px;
    /* padding: 30px 0;
    position: sticky; */
    /* top: 0px; */
    /* background-color: rgb(240, 240, 240); */
}

h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 2vw;
    word-spacing: 0px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

header {
    height:80px;
    width: 100%;
    z-index: 2;
    align-items: center;
    text-align: center;
}

header li {
    display: inline;
    color: black;
    margin: 0 8vw;
    font-family: "Optima", sans-serif;
    font-size: 11pt;
    vertical-align: middle;
}

.homepage {
    background-color: white;
    border: 2px black dotted;
    padding: 13px;
}

.card {
    position: relative;
    /* width: 28.5vw;
    height: 19vw; */
    width: 45vw;
    height: 30vw;
    background-color: white;
    margin: 52px 22px;
    border-radius: 7px;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); */
    transition: 0.5s;
    display: block;
}

.card:hover {
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
}

.text-container {
    margin: 0 45px;
    width: calc(100vw - 90px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

.img-container {
    width: calc(100vw - 90px);
    margin: 0 45px 30px 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left, .right {
    width: calc(50vw - 50px);
}

.img-container img {
    width: 100%;
}

.title, .description {
    width: calc(50vw - 15px);
}

p {
    font-family: "DM sans", sans-serif;
    text-align: left;
    font-size: 13px;
    color: black;
    padding: 0 1px;
}

h2 {
    font-family: "DM sans", sans-serif;
    font-optical-sizing: normal;
    font-weight: 560;
    padding: 2px 1px;
    font-size: 17px;
    line-height: 20px;
    margin: 2px 0;
    display: inline-block;
    text-align: left;
}

@media (max-width: 400px) {
    h1 {
        font-size: 50pt;
    }
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px 0;
    margin-bottom: 30px;
    /* position: sticky;
    top: calc(60px + 2vw); */
}

input[type=button] {
    font-family: "DM sans", sans-serif;
    font-optical-sizing: normal;
    font-weight: 560;
    padding: 2px 1px;
    font-size: 17px;
    background-color: black;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 3px 5px;
    margin: 4px 2px;
    /* border-radius: 30px;
    border: 2px black solid; */
    transition: 0.5s;
}

footer {
    display: flex;
    justify-content: start;
    margin: 0 0 30px 45px;
}

.table {
    display: flex;
    flex-direction: row;
}

.col1 {
    width: calc((50vw - 15px) / 4);
}